@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
:root {
    --color-primary: #1e5afa;
    --color-primary-variant: rgba(0, 0, 240, 0.2);
    --color-white: #fff;
    --color-light: #f4f4f4;
    --color-black: #111;
    --color-dark: #575757;

    --transition: all 400ms ease;
}
body {
    background-color: var(--color-white);
    font-family: "Poppins", sans-serif;
    
}
 @media (max-width:942px)
{
    nav{
        border: 1px solid red;
        display: none;
     width: 20vh;
    }
    nav  .buttons  {
        margin-right: 20vh;      
    } 
    nav .menu{
        width: 40vh;
    }
    .contact-info
    {
    width: 50vh;
    margin-right: 20vh;      
    }
    .section {
        margin-right: 20vh;
        border: 1px solid #000;     
    }
    .section .name input{
        width: 20vh;
        margin-right: 20vh;
    }
    .section .name-2 input{
        width: 20vh;
        margin-right: 20vh;     
    }
    .section .name-3 input{
        width: 20vh;
        margin-right: 20vh;
    }
    .section .name-4 input{
        width: 20vh;
        margin-right: 20vh;     
    }
      .section .section-2 .name-5 button{
        width: 20vh;
        margin-right: 20vh;      
    }
}


nav.active {
    transition: var(--transition);
    border-bottom: 1px solid var(--color-white);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--color-primary);
    height: 10vh;
    z-index: 99;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    transition: var(--transition);
    border-bottom: 1px solid var(--color-primary);
    
}

nav .menu ul {
    display: flex;
}

nav .menu ul li {
    margin: 0 20px;
    color: var(--color-white);
    position: relative;
}

nav .menu ul li::before {
    content: "";
    width: 0px;
    height: 2px;
    position: absolute;
    bottom: 0px;
    left: 0;
    background-color: var(--color-white);
    transition: var(--transition);
}

/*! navbar underline */
nav .menu ul li:hover::before {
    width: 40px;
}

nav .menu ul li a {
    color: var(--color-white);
}

nav .logo {
    color: var(--color-light);
}

.buttons button {
    background-color: #1e5afa;
    color: white;
    padding: 12px 22px;
    border-radius: 3px;
    text-decoration: none;
    border: none;
    transition: var(--transition);
    cursor: pointer;
}

.buttons button:hover {
    background-color: white;
    color: #1e5afa;
}


.section {
    color: #111;
    z-index:100px;
    display: flex;
    margin-top: 5vh;
    position: relative;
    justify-content:space-between;
    align-items: center;
    width: 90vw;
    height: 65vh;
    margin-left: 15vh;
    margin-top: 20vh;
}

.section .contact-info a:hover{
    text-decoration: underline;
}

.contact-info {
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 30px;
    padding: 30px;
    height: 100%;
    border-radius: 5px;
}
.contact-i{
    display:flex ;
    padding-top: 40px;
    font-size: 25px;
}
.contact-i h6{
    padding-left: 15px;
}

.contact-ic{
    display: flex;
    padding-top: 40px;
    font-size: 25px;
}
.contact-ic h6{
    padding-left: 15px;
    
}
.contact-ico{
    display: flex;
    padding-top: 40px;
    font-size: 25px;
}
.contact-ico h6{
    padding-left: 15px;
}
.section-2{
   
   width: 60vh;
   height: 50px;
   margin-right: 30vh;
   margin-bottom: 50vh;
   

}
.section-2 input{
    width: 60vh;
    height: 50px;
    background-color: #f4f4f4;
    outline: none;
    border-radius: 5px;
    border: none;
}

.section-2 .name input{
    padding: 0px 20px;
}
.section-2 .name-2{
    padding-top: 30px;
}
.section-2 .name-2 input{
    padding: 0px 20px;
}
.section-2 .name-3{
    padding-top: 30px;
}
.section-2 .name-3 input{
    padding: 0px 20px;
}
.section-2 .name-4 {  
    height: 30vh;
    padding-top: 30px;
}
.section-2 .name-4 input{  
    height: 30vh;
    padding: 0px 20px;
}
.section-2 .name-5 button{ 
    margin-top: 60px; 
    width:100%;
    height: 5vh;
    border-radius: 3px;
    text-decoration: none;
    background-color: #041029;
    cursor: pointer;
    color: #f4f4f4;
    transition: all 400ms;
    border: none;
    outline: none;
    font-size: 16px;
}
.section-2 .name-5 button:hover{
    background-color: #1e5afa;
}


